// Cores

$htmlColor1: #e44d26;
$htmlColor2: #f16529;
$cssColor1: #264de4;
$cssColor2: #2965f1;
$jsColor1: #e5a228;
$jsColor2: #f1bf26;
$black: #111111;
$white: #ffffff;
$grey: #a5a4a4;

*{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

/*
xs: 0,        //Smartphones em modo retrato
sm: 576px,    //Smartphones em modo paisagem ou Tablets em modo retrato
md: 768px,    //Tablets em modo paisagem
lg: 992px,    //Desktops
xl: 1200px,   //Desktops com alta definição HD e FHD
xxl: 2000px   //Desktops com ultra alta definição QHD e UHD
*/

/* Configurações Inicial dispositivos Celular */
@media only screen
{
    header {
        background-color: $black;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        img {
            width: 100px;
            height: 100px;
        }
        nav {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            height: 50px;
            button {
                width: 50px;
                height: 50px;
                background-color: transparent;
                color: $white;
                font-size: 30px;
                border: 0;
            }
            ul {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                background-color: $black;
                visibility: hidden;
                li {
                    list-style: none;
                    a {
                        color: white;
                        text-decoration: none;
                        padding: 10px;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    main{
        height: 75vh;
        background-color: $grey;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h1{                       
            p{
                font-size: 1.5rem;
                flex-direction: column;
                text-align: center;
            }

            .html5{
                font-size: 1.5rem;
                color: $htmlColor1;
            }
            .css3{
                font-size: 1.5rem;
                color: $cssColor1;
            }
            .js{
                font-size: 1.5rem;
                color: $jsColor1;
            }
        }

        h3{   
            margin-top: 1.8rem;
            flex-direction: column;

            .html5{
                color: $htmlColor1;
            }
            .css3{
                color: $cssColor1;
            }    
            .js{
                color: $jsColor1;
            }
        }
    }


    // Padrão de Logotipo das Seções
    .logo-css{
        height: 75px;
        width: 75px;
    }

    // Padrão de Botoẽs das Seções
    .btn-css{
        height: 40px;
        width: 140px;
        background-color: $black;
        color: $white;
        border-radius: 40px;
        font-size: 1.3rem;
    }

    // Alterar o Ponteiro
    .btn-css :hover{
        cursor: pointer;
    }

    #html5{
        background-color: $htmlColor2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        h2{
            margin-top: .8rem;
            font-size: 1.5rem;
        }
        h3{
            margin-top: .8rem;
        }
        p{
            margin: .8rem;
            font-size: 1.2rem;
        }
    }

    #css3{
        background-color: $cssColor2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        h2{
            margin-top: 1.2rem;
            font-size: 1.5rem;
        }
        h3{
            margin-top: 1.2rem;
        }
        p{
            margin: 1.2rem;
            font-size: 1.2rem;
        }
    }

    #js{
        background-color: $jsColor2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        h2{
            margin-top: 1.2rem;
            font-size: 1.5rem;
        }
        h3{
            margin-top: 1.2rem;
            margin: 1.2rem;
        }
        p{
            margin: 1.2rem;
            font-size: 1.2rem;
        }
    }

    // Padrão de Icones da Seção Links
    .icons-css{
        margin: 0.8rem;
        height: 35px;
        width: 35px;
        justify-content: center;
    }

    .links{
        display: flex;
        flex-direction: column;
        height: 400px;
        
        h2{
            text-align: center;
            margin-top: 1.5rem;
            font-size: 1.5rem;
        }

        .container{
            display: flex;
            height: 80vh;
            padding: 5px;
            flex-direction: column;

            h3{
                margin-top: 1.5rem;
                font-size: 1.5rem;
                text-align: center;
            }
    
            h4{
                margin-top: 3rem;
                font-size: 1.5rem;
                text-align: center;
            }
    
            h5{
                font-size: 1.5rem;
                text-align: center;
            }

            p{
                font-size: 1.5rem;
                font-weight: bolder;
                line-height: 35px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                
           }
        }
    }

    .footer{
        height: 15vh;
        background-color: $black;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // Altura de visão das Seções padrão
    section {
        height: 80vh;
    }
}


//  ????  Não Finalizado a Versão Desktop

// Desktop  
@media (min-width: 1200px ) {
    header {
        height: 80px;
        img {
            width: 160px;
            height: 160px;
        }
        nav {
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            button {
                display: none;
            }
            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                visibility: visible;
                padding-right: 20px;
                
                a{
                    font-size: 1.3rem;
                }
            }
        }  
    }

    main{
        h1{
            display: flex;
            flex-direction: row;
            p{
                font-size: 5rem;
                .html5, .css3, .js{
                    font-size: 5rem;
                    padding: 10px;
                }
            }
        }

        h3{
            display: flex;
            align-content: space-around;
            p{
                font-size: 3rem;
                .html5, .css3, .js{
                    font-size: 3rem;
                }
            }
        }
    }

    // Padrão de Logotipo das Seções
    .logo-css{
        height: 75px;
        width: 75px;
        display: flex;
        justify-content: flex-start;
    }

    // Padrão de Botoẽs das Seções
    .btn-css{
        height: 40px;
        width: 140px;
        background-color: $black;
        color: $white;
        border-radius: 40px;
        font-size: 1.3rem;
    }

    // Alterar o Ponteiro
    .btn-css :hover{
        cursor: pointer;
    }

    #html5, #css3, #js{
        display: flex;  

        h2{
            margin-top: .8rem;
            font-size: 2.5rem;
        }
        h3{
            margin-top: .8rem;
            font-size: 2rem;
        }
        p{
            margin: 1.2rem;
            font-size: 2.5rem;
        }
    }


    // Altura de visão das Seções padrão
    section {
        height: 90vh;
    }
}


