*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
}

/* Configurações Inicial dispositivos pequenos */
@media only screen
{
    header{
        width: 100vw;
        height: 105px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: row;
    
        img{
            height: 60px;
            width: 70px;
            margin-top: 35px;
            margin-left: 10px;
        }
    
        nav{
            width: 100vw;
            height: 100px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

        justify-content: space-evenly;

            ul{
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
        
                li{
                    list-style: none;
                    a{
                        font-size: 1.2rem;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    .home{
        background-color: rgb(171, 196, 196);
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            font-size: 1.5rem;
        }

    }

    .html5
    {
        background-color: rgb(235, 139, 15);
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img{
            height: 50px;
            width: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p{
            font-size: 1.5rem;
        }
    }
    
    .css3
    {
        background-color: rgb(35, 120, 216);
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img{
            height: 50px;
            width: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p{
            font-size: 1.5rem;
        }
    }

    .jS
    {
        background-color: rgb(220, 255, 20);
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            height: 50px;
            width: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p{
            font-size: 1.5rem;
        }
    }


    .links{
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;

        img{
            height: 50px;
            width: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p{
            font-size: 1.5rem;
        }

    }

    .footer{
        width: 100vw;
        height: 10vh;
        background-color: black;
        color: #ffff;
    

        p{
            font-size: 1.2rem;
        }

    }
}

/*Tablet e dispostivos até 900px*/
@media only screen and(min-width: 600px)
{
    header
    {
        background-color: red;
    }
}

/* Computador */
@media only screen and (min-width: 1200px)
{
    header
    {
        background-color: blue;
    }
}

/* Smart TV */
@media only screen and (min-width: 1800px) 
{
    header
    {
        background-color: rgb(92, 7, 35);
    }
}