// Cores

$htmlColor1: #e44d26;
$htmlColor2: #f16529;
$cssColor1: #264de4;
$cssColor2: #2965f1;
$jsColor1: #e5a228;
$jsColor2: #f1bf26;
$black: #111111;
$white: #ffffff;


*{
    padding: 0;
    margin: 0;
    font-size: 12px;
}

/*
xs: 0,        //Smartphones em modo retrato
sm: 576px,    //Smartphones em modo paisagem ou Tablets em modo retrato
md: 768px,    //Tablets em modo paisagem
lg: 992px,    //Desktops
xl: 1200px,   //Desktops com alta definição HD e FHD
xxl: 2000px   //Desktops com ultra alta definição QHD e UHD
*/

/* Configurações Inicial dispositivos pequenos */
@media only screen
{
    header {
        background-color: $black;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        img {
            width: 100px;
            height: 100px;
        }
        nav {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            height: 50px;
            button {
                width: 50px;
                height: 50px;
                background-color: transparent;
                color: $white;
                font-size: 30px;
                border: 0;
            }
            ul {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                background-color: $black;
                visibility: hidden;
                li {
                    list-style: none;
                    a {
                        color: white;
                        text-decoration: none;
                        padding: 10px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

//Tablets em modo paisagem ou maior 
@media (min-width: 768px ) {
    header {
        height: 80px;
        img {
            width: 160px;
            height: 160px;
        }
        nav {
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            button {
                display: none;
            }
            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                visibility: visible;
            }
        }  
    }
}

section {
    height: 70vh;
}

#HTML5 {
    background-color: $htmlColor2;
}

#CSS3 {
    background-color: $cssColor2;
}

#JS {
    background-color: $jsColor2;
}